<div class="sidebar-menu">
    <header class="logo1">
        <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
    </header>
    <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
    <div class="menu">
        <ul id="menu">
            <li><a href="/Dashboard/Index"><i class="fa fa-tachometer"></i> <span>Ana Sayfa +</span></a></li>

            <li id="menu-academico"><a href="/Category/Index"><i class="fa fa-file-text-o"></i> <span>Kategoriler +</span></a></li>
            <li><a href="sweater.html"><i class="lnr lnr-pencil"></i> <span>Müşteriler</span></a></li>
            <li id="menu-academico"><a href="catalog.html"><i class="fa fa-file-text-o"></i> <span>Personeller</span></a></li>
            <li id="menu-academico"><a href="/City/Index"><i class="lnr lnr-book"></i> <span>Şehirler +</span></a></li>
            <li><a href="/Order/Index"><i class="lnr lnr-envelope"></i> <span>Siparişler +</span></a></li>
            <li><a href="products.html"><i class="lnr lnr-chart-bars"></i> <span>Ülkeler</span></a></li>
            <li><a href="products.html"><i class="lnr lnr-chart-bars"></i> <span>Grafikler</span></a></li>
            <li><a href="products.html"><i class="lnr lnr-chart-bars"></i> <span>Raporlar</span></a></li>
            <li><a href="products.html"><i class="lnr lnr-chart-bars"></i> <span>Roller</span></a></li>
            <li><a href="products.html"><i class="lnr lnr-thumbs-up "></i> <span>Ayarlar</span></a></li>
            <li><a href="products.html"><i class="lnr-pointer-down" aria-hidden="true"></i>    <span>Çıkış Yap</span></a></li>

            @*http://www.kashibangfilm.com/icon.html*@

        </ul>
    </div>
</div>
